*.pyc
__pycache__/
.pytest_cache/
.coverage
.coverage*

.snakemake/
tests_outs/
tests_outs*/
samovar_*/
samovar/
samovar2/
debug/

.vscode/
.Rproj.user/
.Rhistory
.Rprofile
Rplots.pdf
vignettes/Rplots.pdf
tests/test_that/*.pdf

taxdump.tar.gz
src/samovar.egg-info/
hs_err_pid*.log
build/config.json
project/
generate_docs_pdf.R
